{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Suport Clienti 24/7</h1>
                <p>Phone: +40742834299</p>
                <p>Program: 24/24</p>
                <p>If you don't want to wait on a phone call, u can send us an e-mail by clicking <a
                        href="http://127.0.0.1:8000/contact/contact" id="link">here.</a></p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}